<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xhome.ly" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:label">
        >
        <provider
            android:name=".dao.DataProvider"
            android:authorities="com.fenjuly.provider"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
        <activity
            android:name=".ui.LaunchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RegistActivity"/>
        <activity android:name=".ui.LoginActivity"/>
        <activity android:name=".ui.DoctorCenterActivity"/>
        <activity android:name=".ui.DoctorInformationCenter"/>
        <activity android:name=".ui.Case1InformationActivity"/>
        <activity android:name=".ui.PatientInformationActivity"/>
        <activity android:name=".ui.MedicalHistoryInformationActivity"/>
        <activity android:name=".ui.SearchCaseActivity"/>
        <activity android:name=".ui.SearchResultActivity"/>
        <activity android:name=".ui.SearchCaseResultActivity"/>
        <activity android:name=".ui.ShowCase1InformationActivity"/>
        <activity android:name=".ui.ShowCase2InformationActivity"/>
        <activity android:name=".ui.Case2InformationActivity"/>
        <activity android:name=".ui.Case3InformationActivity"/>
        <activity android:name=".ui.ShowCase3InformationActivity"/>
    </application>

</manifest>
